@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}


.header ul, a {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 16px;
    
}


.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

